<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MQServers" type="JinRi.LogCenter.MQServersSection, JinRi.LogCenter, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  <appSettings>
    <add key="log4net.Config" value="Config/log4net.config"/>
    <add key="EncryptKey" value="BeiJing#2008"/>
    <!--缓冲池参数设置-->
    <add key="DataBufferSize" value="300"/>
    <add key="DataBufferPoolSize" value="100"/>
    <!--缓冲区刷新时间，默认为60秒-->
    <!--<add key="AutoFlushSecond" value="30"/>-->
    <add key="AutoFlushSecond" value="15"/>
    <!--取MQServers索引下标0..MQServers.length-1-->
    <add key="ServerCode" value="4"/>
    <!--消息队列-->
    <add key="RabbitMQHost" value="host=120.26.126.127:5672;username=admin;password=123456;prefetchcount=30"/>
    <add key="ProviderName" value="System.Data.SqlClient"/>
  </appSettings>

  <MQServers>
    <add Code="JinRi.LogCenter" Exchange="JinRi.LogCenter.EX" Queue="JinRi.LogCenter.QU" RootingKey="JinRi.LogCenter.RK" ExchangeType="direct" />
    <add Code="JinRi.LogCenter2" Exchange="JinRi.LogCenter2.EX" Queue="JinRi.LogCenter2.QU" RootingKey="JinRi.LogCenter2.RK" ExchangeType="direct" />
    <add Code="JinRi.LogCenter3" Exchange="JinRi.LogCenter3.EX" Queue="JinRi.LogCenter3.QU" RootingKey="JinRi.LogCenter3.RK" ExchangeType="direct" />
    <add Code="JinRi.LogCenter4" Exchange="JinRi.LogCenter4.EX" Queue="JinRi.LogCenter4.QU" RootingKey="JinRi.LogCenter4.RK" ExchangeType="direct" />
    <add Code="JinRi.LogCenter5" Exchange="JinRi.LogCenter5.EX" Queue="JinRi.LogCenter5.QU" RootingKey="JinRi.LogCenter5.RK" ExchangeType="direct" />
    <add Code="JinRi.LogCenter6" Exchange="JinRi.LogCenter6.EX" Queue="JinRi.LogCenter6.QU" RootingKey="JinRi.LogCenter6.RK" ExchangeType="direct" />
  </MQServers>
  <connectionStrings configSource="Database.config"/>
</configuration>